template(name='market')
  .container.bootcards-container
    .bootcards-cards
      .col-sm-12
        .panel.panel-default
          .panel-heading.clearfix
            .panel-title
              h3 Market activity
          .list-group
              +listproducts
          .panel-footer
            small Don't see the product you want? Use this form to easily include the product
              a(href="addproduct")
                p Add Product now
//  +addProduct
//  +addamzn