template(name='navbar')
    header
        h1 {{title}}
    .navbar.navbar-default.navbar-fixed-top(role="navigation")
      .navbar-container.container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse'
              , data-target='.navbar-collapse'
              , aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            // each loop requires js helper, value gets assigned to unknown text
            each arr3
              span.icon-bar
          a.navbar-brand(href='#') dealable
          
        .collapse.navbar-collapse#menu
          ul#menu-items.nav.navbar-nav
          
            li#menu-item-simple(class="{{menuItemClass 'overview'}}")
              a(href='/') Overview
            li#menu-item-simple(class="{{menuItemClass 'market'}}")
              a(href='/market') Market
            li#menu-item-simple(class="{{menuItemClass 'addproduct'}}")
              a(href='/addproduct') AddProduct
            li#menu-item-simple(class="{{menuItemClass 'chat'}}")
              a(href='/chat') Chat
            li#menu-item-simple
              a(href='https://github.com/dealable/dealable') Github
            li#menu-item-simple
              div
                +loginButtons 
                //align="right"
    .navbar-spacer

template(name='overview')
  +navbar
  .page-container#content
    .row#title_row
      .col-md-12
        #page_menu.pull-right
    .jumbotron
      h1 dealable
      p always get the best price instantly
      p
        a.btn.btn-primary.btn-lg(href='market', role='button') Check the market
    .row
        .col-sm-6
          .panel.panel-default
            h3 For Buyers
            p Name your price for all the things you want. If there is a seller, you will instantly win the trade.
            p
              a.btn.btn-primary(href='market',role='button') Start winning trades now
              a.btn.btn-default(href='market',role='button') More information
        .col-sm-6
          .panel.panel-default
            h3 For Sellers
            p List your product at your best price. If there is a buyer, the trade will automatically close.
            p
              a.btn.btn-primary(href='market',role='button') Start winning trades now
              a.btn.btn-default(href='market',role='button') More information
        .col-sm-6
          .panel.panel-default
            h3 For Intermediaries (TODO)
            p Facilitate buyers and sellers by providing your services.
            p
              a.btn.btn-primary(href='market',role='button') Find opportunities now
              a.btn.btn-default(href='market',role='button') More information
//        .col-sm-6
//          .panel.panel-default
//            h3 chapp - chat with users online right now
//            +chapp_form

template(name='loading')
  loading